<html>
    <%= render_partial "base/_head.html.erb" %>
    <body>
        <div>
	    <h1><%= @title %></h1>
	    <p><a href="/dogs">Back to the list</a></p>
	    <form action="/dogs" method="POST">
		<!-- to be implemented -->
	    </form>
	</div>
    </body>
</html>
